@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

* {
  margin: 0;
}

body {
  margin: 5% 15%;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Libre Baskerville', serif;
}

h1 {
  margin-bottom: 1.2em;
  line-height: 160%;
}

h2 {
  margin-top: 1.5em;
}

p {
  line-height: 160%;
}

a {
  text-decoration: none;
}

a:link    { color: #c00 }  /* unvisited links */
a:visited { color: #0c0 }  /* visited links   */
a:hover   { color: #00c }  /* user hovers     */
a:active  { color: #ccc }  /* active links    */
